Django
langchain-core
langchain-openai
langchain-google-genai
faiss-cpu
pandas
python-dateutil
requests
beautifulsoup4
langchain_core
langchain_openai
langchain_google_genai
langchain_groq
groq
langchain
langchain_community
gunicorn
channels
